html {
  /* Redimensiona o tamanho geral das fontes */
  font-size: 62.5%;
}
body {
  background-color: #131315;
}

.user-data {
  color: white;
}

.logout-section p {
  font-size: 2rem;
}
.login-form-section {
  width: 75%;
  margin: 0 auto;
}
.login-form-section p {
  font-size: 1.8rem;
  text-align: center;
  color: white;
}
.login-form-input::placeholder {
  color: rgba(143, 124, 236, 0.7);
}

.task-form-section {
  width: 75%;
  margin: 0 auto;
}
.form-control,
.btn,
.table {
  font-size: 1.6rem;
}
.form-control {
  background-color: transparent;
  color: rgba(143, 124, 236, 0.7);
}
.form-control:focus {
  border-color: rgba(143, 124, 236, 0.7);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(143, 124, 236, 0.7);
}
.task-form-input::placeholder {
  color: rgba(143, 124, 236, 0.7);
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background-color: rgba(143, 124, 236, 0.7);
  border-radius: 5px;
}
.btn {
  width: 100%;
  color: rgba(143, 124, 236, 0.7);
}

.task-section {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;
}
.table-bordered > tbody > tr > td {
  border: 0.1rem solid rgba(143, 124, 236, 0.7);
}
td.concluida {
  color: #129e12;
}
/* RESPONSIVIDADE */
@media (min-width: 578px) {
  .divCad {
    width: 20%;
    margin: 0 auto;
  }
  .login-btn {
    width: 20%;
    margin: 0 auto;
  }
  .login-form {
    width: 20%;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .task-form {
    width: 20%;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .task-section {
    width: 75%;
    margin: 0 auto;
  }
  .task-table {
    width: 50%;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
